<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    {{format_amount hours}} needed
  </p>
  <p>
    <button class="btn btn-primary">Check this journal</button>
  </p>
</div>
